@import "compass/reset";


body{
	
}

.canvasParticle{
	border-radius: 50%;
 	-moz-border-radius: 50%;
   -webkit-border-radius: 50%;

}


.three{

	//border:1px #ccc solid;
	width: 800px;
	height: 800px;
	position: absolute;
	margin: 0;
	top:0;
	left: 0;
	
	canvas{
		width: 800px;
		height: 800px;
		position: absolute;
		margin: 0;
	
	}

}

.page{
	display: none;
}


.card{
	z-index: 100;
	height:100%;
	position: absolute;
	width:100%;
	display: none;


	.text{
		font-family: sans-serif;
		color: #fff;
		font-size: 20px;
		width: 800px;
		height: 500px;
		margin: 200px auto;
		text-align: center;
	}


}

#wwrapper{
	height:100%;
	position: absolute;
	width:100%;

	iframe{
		height:100%;
		position: absolute;
		width:100%;
	}
}



.wwrapper{
	margin: 200px auto;
	width: 800px;
}

.container{
	position: absolute;
	//margin-top: 0;
	margin-top: 200px;
	//margin-left: 150px;

	display: none;

}


.sharing{

	bottom:50px;
	right: 50px;
	width: 300px;
	height: 100px;
	position: absolute;
	//border: 1px #ccc solid;
}

.page{
	background-color: #a7a7a7;
	position: absolute;
	height: 100%;
	width: 100%;

}
 
.bubble{
	border-radius: 50%;
 	-moz-border-radius: 50%;
   -webkit-border-radius: 50%;
	width: 800px; 
	height: 800px; 
	//border: 1px #eee solid;
	background-color: rgba(0, 0, 0,.1);
	//transform-origin: center center;

	//margin-left: -50%;
	overflow: hidden !important;
	//background-color: #fff;

} 


.mobile{
	display: block;
	position: absolute;
	width:100%;
	height:100%;
	background-color: #000;
	display: none;
	z-index: 100;
}

@media all and (max-width: 800px){
	.mobile{
   		display: block;
   }
   .Mobile-content{
   	margin-top: 300px;
   	text-align: center;
   }
}
@media all and (max-device-width: 800px)
{
   .mobile{
   		display: block;
   }
   .Mobile-content{
   	margin-top: 300px;
   	text-align: center;
   }
}
 